.form-container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 40%;
    max-width: 700px;
    background: radial-gradient(ellipse, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(1rem);
    z-index: 2;
}

.glass h1 {
    font-weight: 600;
}

.line {
    height: 4px;
    border-radius: 20px;
    background: var(--red);
}

form {
    width: 80%;
    max-width: 500px;
}

.btn-submit {
    display: block;
    margin: 0 auto;
    padding: 0.8rem 1.8rem;
    width: fit-content;
    border: 3px solid var(--red);
    background: transparent;
    color: var(--bg-black);
    opacity: 1;
    transition: all .5s ease;
    cursor: pointer;
}

.btn-submit:hover {
    color: var(--off-white);
    background: var(--bg-grey);
}

.form-contact {
    padding: 2rem 0;
    width: 100%;
    font-size: 0.9rem;
    padding: 15px 12px;
    margin: 10px 0;
    color: var(--off-white);
    border: 2px solid var(--bg-black);
    border-radius: 15px;
    outline: none;
    background: var(--bg-black);
    font-family: 'Montserrat', sans-serif;
}

.form-contact:focus {
    border: 2px solid rgb(129, 129, 129)
}

.social-links ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.social-links li {
    list-style-type: none;
    display: inline;
}

.social-links i {
    font-size: 1.8rem;
    transition: transform 0.4s;
    margin: 0 5px;
}

.social-links .fa-github {
    color: #000;
}

.social-links .fa-linkedin {
    color: #0a66c2;
}

.social-links i:hover {
    transform: scale(1.2);
}

.circle1, .circle2 {
    background: white;
    background: radial-gradient(ellipse, rgba(201, 36, 36, 1), rgba(201, 36, 36, 0.5));
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    position: absolute;
    /* box-shadow: 0px 0px 85px 130px rgb(201 36 36 / 100%) */
}

.circle1 {
    top: 30%;
    right: 15%;
}

.circle2 {
    bottom: 20%;
    left: 20%;
}


