{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
    <section>
        <div class="intro">
            <div class="intro-message">
                <div>
                    <h2 class="hide">
                        <span class="greeting"><span class="red-text">H</span>i,</span>
                    </h2>
                    <h2 class="hide">
                        <span class="greeting">I'm <span class="red-text">H</span>enrique,</span>
                    </h2>
                    <h2 class="hide">
                        <span class="greeting"><span class="red-text">S</span>oftware <span class="red-text">E</span>ngineer.</span>
                    </h2>
                    <a class="btn" href="">Portfolio</a>
                </div>
            </div>
            <div class="intro-image d-none-m">
                <div class="image-wrapper">
                <img src="{{ MEDIA_URL }}coding4.png" alt="Coding"></div>
            </div>
            <svg  class="path" viewbox="0 0 1791 301" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 182.5C73 182.5 543.6 -197.7 966 155.5C1388.4 508.7 1733 80.7376 1791 80.7376" strokeopacity="0.5" stroke="#054205" stroke-width="10"/>
            </svg>
        </div>
    </section>

    <section>
        <div class="about">
            <h2 class="heading">Who am I?</h2>
            <div>
                <div class="about-container">
                    <div class="hard-work d-none-sm">
                        <!-- <img src="{{ MEDIA_URL }}coding3.png" alt="Coding"> -->
                        <div class="hard-work-wrapper">
                            <h2><span class="red-text">H</span>ard</h2>
                            <h2><span class="red-text">W</span>ork</h2>
                            <h2><span class="red-text">P</span>ays</h2>
                            <h2><span class="red-text">O</span>ff</h2>
                        </div>
                    </div>
                    <div class="about-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem asperiores, minus dolorum, obcaecati nemo cum non
                            tempora tempore iusto nulla aliquid, nobis reprehenderit earum. Veniam eos voluptas blanditiis ea fugit
                            molestias natus quidem facilis quasi maxime! Vero porro eligendi illo, tempora vel id sit labore esse quis
                            recusandae dignissimos harum aut enim odio, modi ullam voluptate. Odit unde error quis quibusdam autem.
                            Excepturi rem voluptatum unde iste eligendi, quis officiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem asperiores, minus dolorum, obcaecati nemo cum non
                            tempora tempore iusto nulla aliquid, nobis reprehenderit earum. Veniam eos voluptas blanditiis ea fugit
                            molestias natus quidem facilis quasi maxime! Vero porro eligendi illo, tempora vel id sit labore esse quis
                            recusandae dignissimos harum aut enim odio, modi ullam voluptate. Odit unde error quis quibusdam autem.
                            Excepturi rem voluptatum unde iste eligendi, quis officiis.</p>
                        <a class="btn" href="">Download CV <i class="fas fa-download"></i></a>
                    </div>
                    <svg class="path-polygon d-none-sm" viewbox="0 0 1733 944" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.3145 939L859.528 7.39631L1720.62 939H11.3145Z" stroke="#054205" stroke-opacity="0.5" stroke-width="10"/>
                    </svg>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}