{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
    <section>
        <div class="intro">
            <div class="intro-message">
                <div>
                    <h2 class="hide">
                        <span class="greeting"><span class="red-text">H</span>i,</span>
                    </h2>
                    <h2 class="hide">
                        <span class="greeting">I'm <span class="red-text">H</span>enrique,</span>
                    </h2>
                    <h2 class="hide">
                        <span class="greeting"><span class="red-text">S</span>oftware <span class="red-text">E</span>ngineer.</span>
                    </h2>
                </div>
            </div>
            <div class="intro-image">
                <img src="{{ MEDIA_URL }}coding4.png" alt="Coding">
            </div>
            <svg  class="path" viewBox="0 0 1791 301" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 182.5C73 182.5 543.6 -197.7 966 155.5C1388.4 508.7 1733 80.7376 1791 80.7376" strokeOpacity="0.5" stroke="#054205" stroke-width="10"/>
            </svg>
        </div>
    </section>

    <section>
        <div class="about"></div>
    </section>
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}