{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
    <section>
        <div class="intro">
            <div class="intro-message">
                <div>
                    <h2 class="hide">
                        <span class="greeting"><span class="red-text">H</span>i,</span>
                    </h2>
                    <h2 class="hide">
                        <span class="greeting">I'm <span class="red-text">H</span>enrique,</span>
                    </h2>
                    <h2 class="hide">
                        <span class="greeting"><span class="red-text">S</span>oftware <span class="red-text">E</span>ngineer.</span>
                    </h2>
                    <a class="btn" href="">Portfolio</a>
                </div>
            </div>
            <div class="intro-image d-none-m">
                <div class="image-wrapper">
                <img src="{{ MEDIA_URL }}coding4.png" alt="Coding"></div>
            </div>
            <svg  class="path" viewbox="0 0 1791 301" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 182.5C73 182.5 543.6 -197.7 966 155.5C1388.4 508.7 1733 80.7376 1791 80.7376" strokeopacity="0.5" stroke="#054205" stroke-width="10"/>
            </svg>
        </div>
    </section>

    <section id="about">
        <div class="about">
            <h2 class="heading">Who am I?</h2>
            <div>
                <div class="about-container">
                    <div class="hard-work d-none-sm">
                        <!-- <img src="{{ MEDIA_URL }}coding3.png" alt="Coding"> -->
                        <div class="hard-work-wrapper">
                            <h2><span class="red-text">H</span>ard</h2>
                            <h2><span class="red-text">W</span>ork</h2>
                            <h2><span class="red-text">P</span>ays</h2>
                            <h2><span class="red-text">O</span>ff</h2>
                        </div>
                    </div>
                    <div class="about-text">
                        <p>I'm not a talented person, but I do believe in working hard. I believe that the more hours you put in something,
                            the better it will get, it's simple mathematic. I entered the software development world looking for a new
                            challenge, and what a challenge I found. What makes me more excited about it is that there is always something
                            new to learn, there is always room for improvement.
                        </p>
                        <p>That's what I do with my code and my life, I try to get 1% better every day, I'm sure with long-term thinking
                            everything is achievable.
                        </p>
                        <p>Now I'm looking for new challenges, a new company to work for, or a new project to get done. So if you have a
                            challenging position to be filled or a project to get done and you're looking for a not talented person, please
                            get in touch. And remember hard work eats talent for breakfast.
                        </p>
                        <a class="btn" href="">Download CV <i class="fas fa-download"></i></a>
                    </div>
                    <svg class="path-polygon d-none-sm" viewbox="0 0 1733 944" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.3145 939L859.528 7.39631L1720.62 939H11.3145Z" stroke="#054205" stroke-opacity="0.5" stroke-width="10"/>
                    </svg>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}