.intro {
    height: 90vh;
    display: flex;
    align-items: center;
}

.intro-message {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.red-text {
    color: var(--red);
    font-weight: bolder;
}

.intro-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

h2 {
    color: var(--off-white);
    font-size: 3rem;
    font-weight: lighter;
}

.hide {
    overflow: hidden;
}

.hide .greeting {
    transform: translateY(-100%);
    display: inline-block;
}

.intro svg {
    position: absolute;
    left: 0;
    z-index: -1;
}

.path {
    stroke-dasharray: 2200;
    stroke-dashoffset: 2200;
    animation: dash 1s linear forwards;
    animation-delay: 1s;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1822;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.about {
    height: 20vh;
}

.btn-portfolio {
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 3px solid #23d997;
    background: transparent;
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-family: 'Inter',sans-serif;
}