.intro {
    height: 90vh;
    display: flex;
    align-items: center;
}

.intro-message {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.red-text {
    color: #c92424;
    font-weight: bolder;
}

.intro-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: lighter;
}

.hide {
    background: #1b1b1b;
    overflow: hidden;
}


.hide .greeting {
    transform: translateY(-100%);
    display: inline-block;
}