body {
    
}

.projects {
    padding: 5rem 10rem;
    background: var(--off-white);
}

.project {
    margin-bottom: 5rem;
}

.add-project, .return-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 3rem;
    color: var(--bg-grey);
}

.project-title h2 {
    font-size: 3rem;
    font-weight: 100;
    color: var(--bg-grey);
    display: inline-block;
}

.project-title i {
    font-size: 1.2rem;
    margin-left: 1rem;
    color: var(--bg-grey);
}

img {
    width: 100%;
    max-height: 85vh;
    object-fit: cover;
}

.line {
    height: 0.4rem;
    background: var(--dark-green);
    margin: 1rem 0 2rem 0;
}

.image-wrapper {
    overflow: hidden;
}

/* Project Detail */
.project-detail-container {
    padding: 5rem 10rem;
}

.project-detail h2{
    display: flex;
    justify-content: center;
    color: var(--off-white);
    margin-bottom: 2rem;
}

.social-links {
    display: flex;
    align-items: center;
}

.btn-live-site {
    font-weight: bold;
    font-size: 1rem;
    width: fit-content;
    color: var(--bg-grey);
    background: var(--off-white);
    border: 2px solid var(--off-white);
    opacity: 1;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    transition: all 0.5s ease 0s;
}

.btn-live-site:hover {
    background: var(--bg-grey);
    color: var(--off-white);
    border: 2px solid var(--off-white);
}

.project-detail i {
    color: var(--off-white);
    font-size: 2rem;
    margin-left: 1rem;
    transition: all 0.3s ease;
}

.project-detail i:hover {
    color: var(--off-white);
    font-size: 2.25rem;
}

.project-description img {
    max-height: 80vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
}

.project-description p {
    color: var(--off-white);
    text-align: justify;
}

/* Add Project */
.add-project-wrapper {
    position: relative;
}

.return-btn {
    color: var(--off-white);
    right: 1rem;
    top: -1rem;
}

.form-container {
    margin: 2rem 0;
}

.glass {
    width: 60%;
    max-width: 900px;
    position: relative;
}

.new-project-heading {
    margin: 2rem 0;
}

form {
    width: 80%;
}

.btn-submit {
    margin-bottom: 1rem;
}

/* Edit Project */
.btn-delete {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    padding: 0.8rem;
    border: 3px solid var(--bg-black);
    color: var(--off-white);
    background: var(--red);
    opacity: 1;
    transition: all .5s ease;
    cursor: pointer;
}

.btn-delete:hover {
    background: rgb(136, 4, 4);
    color: var(--off-white);
}

.container-modal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    display: none;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10;
}

.container-modal.show-modal {
    display: flex;
}

.modal {
    position: relative;
    height: 300px;
    width: 50%;
    max-width: 600px;
    margin-top: 3rem;
    background: var(--off-white);
    border: 10px solid var(--bg-black);
    box-shadow: 0 0 0 10px var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal h3 {
    font-size: 2rem;
    color: var(--bg-grey);
    margin-top: 2rem;
}

.modal p {
    color: var(--bg-grey);
    margin-top: 4rem;
}

.modal-btns {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    margin-bottom: 1rem;
}

.btn-cancel {
    padding: 0.8rem 1.5rem;
    width: fit-content;
    border: 3px solid var(--bg-grey);
    color: var(--bg-black);
    background: var(--off-white);
    opacity: 1;
    transition: all .5s ease;
    cursor: pointer;
}

.btn-cancel:hover {
    background: rgb(231, 229, 229);
}

.btn-delete-modal {
    position: static;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translateY(-100px)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.show-modal .modal {
    animation: modal .5s;
}

.close-modal {
    width: 50px;
    height: 50px;
    background: var(--bg-grey);
    color: var(--off-white);
    border: 2px solid var(--off-white);
    border-radius: 50%;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: -35px;
    right: -35px;
}