body {
    
}

.projects {
    padding: 5rem 10rem;
    background: var(--off-white);
}

.project {
    margin-bottom: 5rem;
}

.project h2 {
    font-size: 3rem;
    font-weight: 100;
    color: var(--bg-grey);
    display: inline-block;
}

.project a {
    text-decoration: none;
}

img {
    width: 100%;
}

.line {
    height: 0.4rem;
    background: var(--dark-green);
    margin: 1rem 0 2rem 0;
}

.image-wrapper {
    overflow: hidden;
}