/* General Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #c92424;
    --green: #24C953;
    --bg-black: #1b1b1b;
    --bg-grey: #282828;
    --off-white: #fafafa;
}

body {
    background: var(--bg-black);
    font-family: 'Inter',sans-serif;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-grey);
    width: 100%;
    height: 10vh;
    padding: 1rem 5rem;
    z-index: 2;
}

nav h3 {
    color: var(--off-white);
    font-family: "Lobster",cursive;
    margin-left: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    margin: 0;
}

.nav-links li {
    list-style-type: none;
    padding-left: 6rem;
}

.nav-links a {
    color: var(--off-white);
    text-decoration: none;
    font-size: 0.9rem;
}
  

