{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="post-container">
        {% for post in blog_post %}
            <div class="post">
                <h2>{{ post.title }}</h2>
                <p>{{ post.title_tag }}</p>
            </div>
        {% endfor %}
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
    </div>
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}