{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="post-detail-container">
        <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <h4>{{ post.title_tag }}</h4>
        </div>
        <section>{{ post.content|safe }}</section>
    </div>
        
  
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}