{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="post-detail-container">
        <article>
            <div class="post-heading">
                <h1>{{ post.title }}</h1>
                <h4>{{ post.title_tag }}</h4>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="">
                {% endif %}
            </div>
            <section>{{ post.content|safe }}</section>

            <span id="like_count">{{ post.likes_count }}</span>
            <button class="btn-submit" id="like-button" value="{{post.id}}"></button>
        </article>
        <div class="comments">
            <h2>Comments</h2>
            <form method="POST" action="{% url 'post_detail' post.slug %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-submit" type="submit">Add comment</button>
            </form>
            {% for comment in comments %}
                <div class="post-comments">
                    <div class="comment-heading">
                        <h4>{{ comment.user }}</h4>
                        <span>•</span>
                        <p>{{ comment.date_commented|date:"M d, Y" }}</p>
                    </div> 
                    <p>{{ comment.comment }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
        
  
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}