{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="post-detail-container">
        <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <h4>{{ post.title_tag }}</h4>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="">
            {% endif %}
        </div>
        <section>{{ post.content|safe }}</section>
        <div class="comments">
            {% for comment in comments %}
                    <div class="col-12 review-comments">
                        <p>{{ comment.comment }}</p>
                    </div>
                    <hr>
            {% endfor %}
        </div>
    </div>
        
  
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}