<div id="modal-delete" class="container-modal">
    <div class="modal">
        <h3>Delete Project</h3>
        <p>Are you sure you want to delete the <strong>{{ project.name }}</strong> project?</p>
        <div class="modal-btns">
            <a class="btn btn-cancel">Cancel</a>
            <a class="btn btn-delete btn-delete-modal" href="{% url 'delete_project' project.slug %}">Delete <i class="fas fa-trash-alt white-text"></i></a>
        </div>
        <!-- Close Modal -->
        <button class="close-modal">x</button>
    </div>
</div>