{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
{% endblock %}

{% block content %}
    <div class="add-project-wrapper">

        <!-- Return button -->
        <a class="return-btn" href="{% url 'projects' %}">
            <i class="fas fa-arrow-circle-left"></i>
        </a>

        <!-- Edit project form -->
        <div class="form-container">
            <div class="glass">
                <a class="btn btn-delete" href="">Delete <i class="fas fa-trash-alt"></i></a>
                <div class="new-project-heading">
                    <h1>Edit Project</h1>
                    <div class="heading-line"></div>
                    <div class="heading-line1"></div>
                    <div class="heading-line2"></div>
                </div>
                <form action="{% url 'edit_project' project.slug %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'projects/js/projects.js' %}"></script>
{% endblock %}