{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
{% endblock %}

{% block content %}
    <div class="projects">
        <a class="add-project" href="{% url 'add_project' %}"><i class="fas fa-plus-circle"></i></a>
        {% for project in projects %}
            <div class="project">
                <div class="project-title">
                    <a href="">
                        <h2>{{ project.name }}</h2>
                    </a>
                    <a href="{% url 'edit_project' project.slug %}">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
                <div class="line"></div>
                <div class="image-wrapper">
                    <a href="{% url 'project_detail' project.slug %}">
                        <img src="{{ project.description_image.url }}" alt="">
                    </a>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'projects/js/projects.js' %}"></script>
{% endblock %}