{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
{% endblock %}

{% block content %}
    <div class="project-detail-container">
            <div class="project-detail">
                <a href="{{ project.live_site }}" target="_blank">
                    <h2>{{ project.name }}</h2>
                </a>
                <div class="social-links">
                    <a class="btn-live-site" href="{{ project.live_site }}" target="_blank">Live Site</a>
                    <a href="{{ project.github }}" target="_blank"><i class="fab fa-github"></i></a>
                </div>
                <div class="">
                    <img src="{{ project.description_image.url }}" alt="">
                </div>
            </div>
    </div>
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'projects/js/projects.js' %}"></script>
{% endblock %}