{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
{% endblock %}

{% block content %}
    <div class="project-detail-container">
        <div class="project-detail">
            <a href="{{ project.live_site }}" target="_blank">
                <h2>{{ project.name }}</h2>
            </a>

            <!-- Return button -->
            <a class="return-btn" href="{% url 'projects' %}">
                <i class="fas fa-arrow-circle-left"></i>
            </a>

            <!-- Social Links and Delete button -->
            <div class="social-links">
                <div>
                    <a class="btn-live-site" href="{{ project.live_site }}" target="_blank">Live Site</a>
                    <a href="{{ project.github }}" target="_blank"><i class="fab fa-github"></i></a>
                </div>
                {% if request.user.is_superuser %}
                    <a id="delete-button" class="btn btn-delete btn-delete-square">Delete <i class="fas fa-trash-alt"></i></a>
                {% endif %}
            </div>

            <!-- Project descriptions with images -->
            <div class="project-description">
                <img src="{{ project.thumbnail_image.url }}" alt="">
                <p>{{ project.description|safe }}</p>
            </div>
        </div>
        <!-- Modal Delete -->
        {% include 'includes/modals/delete_modal.html' %}
    </div>
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'projects/js/projects.js' %}"></script>
{% endblock %}