{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
{% endblock %}

{% block content %}
    <div class="project-detail-container">
        <div class="project-detail">
            <a href="{{ project.live_site }}" target="_blank">
                <h2>{{ project.name }}</h2>
            </a>
            <div class="social-links">
                <a class="btn-live-site" href="{{ project.live_site }}" target="_blank">Live Site</a>
                <a href="{{ project.github }}" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <div class="project-description">
                <img src="{{ project.description_image.url }}" alt="">
                <p>{{ project.description|safe }}</p>
                {% if project.description_image1 %}
                    <img src="{{ project.description_image1.url }}" alt="">
                    <p>{{ project.description1 }}</p>
                {% endif %}
                {% if project.description_image2 %}
                    <img src="{{ project.description_image2.url }}" alt="">
                    <p>{{ project.description1 }}</p>
                {% endif %}
            </div>
        </div>x
    </div>
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'projects/js/projects.js' %}"></script>
{% endblock %}