{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'projects/css/projects.css' %}">
{% endblock %}

{% block content %}
    <div class="projects">
        {% for project in projects %}
            <div class="project">
                <a href="">
                    <h2>{{ project.name }}</h2>
                </a>
                <div class="line"></div>
                <div class="image-wrapper">
                    <a href="">
                        <img src="{{ project.description_image.url }}" alt="">
                    </a>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}

{%  block extra_js %}
    <script src="{% static 'projects/js/projects.js' %}"></script>
{% endblock %}