{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}
    <div class="form-container">
        <div class="glass">
            <form action="">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
        </div>
        <div class="circle1"></div>
        <div class="circle2"></div>
    </div>
{% endblock %}

{%  block extra_js %}
    
{% endblock %}