{% extends "base.html" %}
{% load static %}

{%  block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}
    <div class="form-container">
        <div class="glass">
            <div class="contact-heading">
                <h1>Let's Talk</h1>
                <div class="line"></div>
            </div>  
            <form action="">
                {% csrf_token %}
                {{ form|crispy }}
                <button  class="btn btn-submit" type="submit">Submit!</button>
            </form>
            <div class="social-links">
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/henriqueperoni/" rel="noopener" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <div class="icon-shadow"></div>
                    </li>
                    <li>
                        <a href="https://www.github.com/Henriqueperoni" rel="noopener" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                        <div class="icon-shadow"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="circle1"></div>
        <div class="circle2"></div>
    </div>
{% endblock %}

{%  block extra_js %}
    
{% endblock %}